
  <div><strong>Корзина:</strong></div>
  <table>
		  <%= render(cart.line_items) %>

	  <tr>
			  <td colspan="2"><strong>Итого:</strong></td>
			  <td class="total_cell"><strong><%= number_to_currency(cart.total_price) %></strong></td>
	  </tr>
    <tr>
        <td colspan="2"><%= button_to "Оформить", new_order_path, method: :get, :class => "btn btn-success" %></td>
        <td><%= button_to "X", cart, method: :delete, :class => "btn", confirm: 'Вы уверены что хотите удалить все товары?' %></td>
    </tr>

  </table>

