<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<% @products.each do |product| %>
      <div class="span3">
         <div class="thumbnail" style="height: 400px;">
              <h4 class="text-center" style="min-height:40px"><%= product.title %></h4>
              <div style="height: 150px" class="text-center">
                <%= image_tag(product.image_url) %>
               </div>
               <div class="caption">
               <div  style="height: 120px; overflow: hidden;">
               <p><%= truncate(product.description, :length => 200) %></p></div>
                <p><%= number_to_currency(product.price) %><%= button_to "В корзину", line_items_path(product_id: product), :class => "btn", remote: true %></p>
               </div>
           </div>
      </div>
<% end %>
