//#START_HIGHLIGHT
$("#notice").hide();

//#END_HIGHLIGHT
if ($('#cart tr').length == 1) { $('#cart').show('blind', 1000); }

$('#cart').html("<%=j render @cart %>");

$('#current_item').css({'background-color':'#55B2C8'}).
  animate({'background-color':'#ffffff'}, 1000);
