<p id="notice"><%= notice %></p>

<p>
  <b>Товары:</b>
  <%= @line_item.product_id %>
</p>

<p>
  <b>Корзина:</b>
  <%= @line_item.cart_id %>
</p>


<%= link_to 'Edit', edit_line_item_path(@line_item) %> |
<%= link_to 'Back', line_items_path %>
