<div class="span6 offset1"><h3>Уважаемые покупатели!</h3> Просим вас во избежание конфликтных ситуаций ознакомиться с данным разделом, в котором приведены все основные правила взаимодействия продавцов и покупателей, касающиеся продаваемых нашей организацией товаров. Все эти правила закреплены законами и актами законодательства Республики Беларусь и носят обязательный характер как для продавцов, так и для покупателей. Спасибо за ваше понимание. <br>

<br>

Также обращаем ваше внимание, что все товары, продаваемые в нашем магазине официально импортированы в Республику Беларусь и имеют все необходимые документы, включая Сертификаты Соответствия национального образца и Свидетельства о государственной гигиенической регистрации (для тех групп товаров, для которых они необходимы).  
<br>

<br>

<strong>Выдержки из законодательных актов, регламентирующие возврат (замену) товара<br>

<br>

ЗАКОН РЕСПУБЛИКИ БЕЛАРУСЬ от  9 января 2002 г. N 90-З О ЗАЩИТЕ ПРАВ ПОТРЕБИТЕЛЕЙ</strong><br>

(в ред. Закона Республики Беларусь от 08.07.2008 № 366-3)<br>

<strong>ГЛАВА 3. ЗАЩИТА ПРАВ ПОТРЕБИТЕЛЯ ПРИ РЕАЛИЗАЦИИ ЕМУ ТОВАРА</strong><br>

<br>

<i><strong>Статья 20. Права потребителя в случае реализации ему товара ненадлежащего качества
</strong></i><br>

<br>

1. Потребитель, которому продан товар ненадлежащего качества, если его недостатки не были оговорены продавцом, вправе по своему выбору потребовать:<br>

  1.1. замены недоброкачественного товара товаром надлежащего качества;<br>

  1.2. соразмерного уменьшения покупной цены товара;<br>

  1.3. незамедлительного безвозмездного устранения недостатков товара;<br>

  1.4. возмещения расходов по устранению недостатков товара.<br>

2. Потребитель вправе потребовать замены технически сложного товара или дорогостоящего товара в случае обнаружения его существенных недостатков. Перечень таких технически сложных товаров утверждается Правительством Республики Беларусь.<br>

3. Вместо предъявления указанных в пунктах 1 и 2 настоящей статьи требований потребитель вправе расторгнуть договор розничной купли-продажи и потребовать возврата уплаченной за товар денежной суммы.<br>

<strong>Существенный недостаток товара </strong>- неустранимый недостаток, либо недостаток, который не может быть устранен без несоразмерных расходов (в размере тридцати и более процентов от стоимости товара)либо несоразмерных затрат времени (превышающих максимально допустимые затраты времени), или выявляется неоднократно, или проявляется вновь после его устранения, либо другие подобные недостатки.<br>

<br>

<i><strong>Статья 22. Безвозмездное устранение недостатков товара продавцом</strong></i><br>

<br>

1. Недостатки, обнаруженные в товаре, должны быть устранены продавцом (изготовителем, поставщиком, представителем, ремонтной организацией) безвозмездно и незамедлительно. В случае, если устранить недостатки незамедлительно не представляется возможным, максимальный срок их устранения не может превышать четырнадцати дней со дня предъявления потребителем требования об устранении недостатков товара.<br>

<i><strong><br>

Статья 23. Замена товара ненадлежащего качества</strong></i><br>

<br>

1. В случае обнаружения потребителем недостатков товара и предъявления требования о замене такого товара продавец (изготовитель, поставщик, представитель) обязан заменить такой товар незамедлительно, а при необходимости дополнительной проверки качества такого товара продавцом (изготовителем, поставщиком, представителем) - заменить его в течение четырнадцати дней со дня предъявления указанного требования.<br>

<br>

<i><strong>Статья 28. Право потребителя на обмен и возврат товара надлежащего качества</strong></i><br>

<br>

1.Потребитель вправе в течение четырнадцати дней с момента передачи ему непродовольственного товара, если более длительный срок не объявлен продавцом, в месте приобретения или иных местах, объявленных продавцом, возвратить товар надлежащего качества или обменять его на аналогичный товар других размера, формы, габарита, фасона, расцветки или комплектации, произведя в случае разницы в цене необходимый перерасчет с продавцом.<br>

2. Требование потребителя об обмене либо возврате товара подлежит удовлетворению, если товар не был в употреблении, сохранены его потребительские свойства и имеются доказательства приобретения его у данного продавца.<br>

3. Перечень непродовольственных товаров надлежащего качества, не подлежащих обмену и возврату, утверждается Правительством Республики Беларусь.<br>

<br>

<br>

<strong>ПОСТАНОВЛЕНИЕ СОВЕТА МИНИСТРОВ РЕСПУБЛИКИ БЕЛАРУСЬ 14 июня 2002 г. N 778 О МЕРАХ ПО РЕАЛИЗАЦИИ ЗАКОНА РЕСПУБЛИКИ БЕЛАРУСЬ "О ЗАЩИТЕ ПРАВ ПОТРЕБИТЕЛЕЙ" (в ред. постановления Совмина от 14.01.2009 N 26)<br>

Перечень технически сложных товаров, при обнаружении существенных недостатков которых (существенного нарушения требований к их качеству) потребитель вправе требовать их замены:</strong><br>


<ul>

	<li>Холодильники и морозильники;</li>

	<li>Стиральные машины автоматические;</li>

	<li>Телевизоры, видеомагнитофоны, видеоплейеры, видеокамеры.</li>

	<li><br>

</li>

	<li><strong>Перечень непродовольственных товаров надлежащего качества, не подлежащих обмену:</strong></li>

	<li>Товары, имеющие гарантийный срок, в техническом паспорте (заменяющем его документе) которых имеется отметка о дате продажи.</li>

	<li><br>

</li></ul>

<hr>Исходя из вышеизложенного, можно сделать следующие выводы:<br>

<br>

<strong>1. Обмену или возврату подлежит только тот некачественный  товар</strong>, на который было получено заключение (Акт) авторизованного сервисного центра подтверждающий неремонтопригодность товара или невозможность устранения недостатка товара в 14 дневный срок, несоответствие товара СТБ.<br>

<strong>2. Качественный товар, приобретенный в нашем магазине, возврату (обмену) не подлежит</strong>, т.к.  все наши товары имеют гарантийный срок и сопровождаются гарантийным талоном, в котором делается отметка о дате продажи.<br>


<ul>

	<li><br>

</li></ul>

<strong>Уважаемые Клиенты, во избежание недоразумений просим вас внимательно осматривать товар при его получении</strong>, так как претензии к внешнему виду товара и его комплектности вы можете предъявлять <strong>только во время осмотра товара</strong>, при его приемке от курьера.<br>

Вы вправе <strong>потребовать от курьера проверку</strong> доставленного вам товара (внешнего вида, комплектности, работоспособности), после чего оставить свою подпись в гарантийном талоне об отсутствии претензий к изделию.<br>

Вы также имеете право<strong> отказаться от доставленного товара</strong>, если в нем обнаружен дефект.<br>

<br>

<strong>Претензии к внешнему виду и комплектации изделия после заполнения гарантийного талона и отбытия курьера не принимаются.</strong><br>


<ul>

	<li><br>

</li></ul>

<hr><strong>Возврат некачественного товара</strong><br>

Порядок оформления замены (возврата) некачественного товара, имеющего существенный недостаток<br>

<br>

1.   Вам необходимо предоставить следующие документы:<br>

&nbsp; - Акт (копия) сервисного центра<br>

&nbsp; - Гарантийный талон (копия)<br>

&nbsp; - Заявление установленного образца.<br>

Документы для рассмотрения  можно предоставить в наш магазин (г. Минск, ул.Толбухина, 4, 2 этаж, с понедельника по субботу с 11:00 до 19:00), или отправить на email: brak@21vek.by<br>

<br>

2. После рассмотрения предоставленных документов с вами свяжутся в течение двух-трех дней, сообщат результат рассмотрения документов и  договорятся о времени и о товаре, на который будет производиться замена.<br>

<br>

3.   При замене (возврате) некачественного товара вам необходимо передать курьеру, осуществляющему замену (возврат):<br>

&nbsp; - некачественный  товар в полной комплектности<br>

&nbsp; - оригинал Гарантийного талона<br>

&nbsp; - оригинал Акта<br>

&nbsp; - Расписку.<br>

<hr><strong>Спасибо, что выбрали нас. <br>

Приятных вам покупок!<br>

</strong></div>
