<!-- START:head -->
<!DOCTYPE html>
<html>
<head>
  <title>EasyShop - магазин компьютерной техники</title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tag %>
</head>

<body>
<div class="container">

      <div class="masthead">
        <h3 class="muted">easySale</h3>
        <div class="navbar">
          <div class="navbar-inner">
            <div class="container">
              <ul class="nav">
                <li class="<%= @page_active %>"><a href="/ ">Главная</a></li>
                <li class="<%= @page_info %>"><a href="/info">Информация</a></li>
                <li class="<%= @page_about %>"><a href="/about">О компании</a></li>
                <li class="<%= @page_contact %>"><a href="/contact">Контакты</a></li>

              </ul>
              <form class="navbar-search pull-right">
                <input type="text" class="search-query" placeholder="Поиск">
              </form>
            </div>
          </div>
        </div><!-- /.navbar -->
      </div>

  <div class="row">

<br />


      <div class="span2">
        <div id="cart">
          <% if @cart %>

            <%= hidden_div_if(@cart.line_items.empty?, id: 'cart') do %>

                <%= render @cart %>

            <% end %>
          <% end %> 
        </div>

    <div class="well" style="max-width: 340px; padding: 8px 0;">
        <ul class="nav nav-list">

        <% Category.order(:category_id).each do |category| %>
            <li><a href="<%= category.category_id %>"><%= category.category_name %></a></li>
        <% end %>

      </ul>
  
    </div>


  
      <% if session[:user_id] %>
      <div class="well" style="max-width: 340px; padding: 8px 0;">
        <ul class="nav nav-pills nav-stacked">
          <li><%= link_to 'Заказы',   orders_path   %></li>
          <li><%= link_to 'Товары', products_path %></li>
          <li><%= link_to 'Категории',    categories_path    %></li>
          <li><%= link_to 'Пользователи',    users_path    %></li>
        </ul>
        <%= button_to 'Logout', logout_path, method: :delete   %>
      </div>
      <% end %>


</div>  


      

    <div class="span10  ">
      <%= yield %>
    </div>

  </div>
</div>
</body>
</html>
